@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization

@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome, @User.Identity.Name!</h2>
}
else
{
    <h2>Welcome, Guest!</h2>
}